/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.sass */
body {
  font: 62.5% "PT Sans Narrow", sans-serif;
}

/* line 13, ../sass/screen.sass */
.clear-fix:after {
  content: " ";
  visibility: hidden;
  display: block;
  clear: both;
}

/* line 19, ../sass/screen.sass */
#wrapper {
  min-width: 200px;
}

/* line 23, ../sass/screen.sass */
#info h1 {
  font-weight: bold;
  line-height: 1;
  font-variant: small-caps;
}
/* line 27, ../sass/screen.sass */
#info address {
  font-size: 2em;
  line-height: 1.8em;
  padding-left: 36px;
}
/* line 31, ../sass/screen.sass */
#info address::before {
  content: " ";
  background-image: url(../images/icons.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 10px -3px -26px;
}

@media (min-width: 701px) {
  /* line 40, ../sass/screen.sass */
  #info {
    height: 480px;
    position: relative;
    border-bottom: 5px solid #D72E2E;
  }
  /* line 44, ../sass/screen.sass */
  #info .general-info {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
  }
  /* line 49, ../sass/screen.sass */
  #info .general-info h1, #info .general-info h3, #info .general-info address {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 900px;
  }
  /* line 55, ../sass/screen.sass */
  #info .general-info address {
    padding: 0 20px;
    padding-left: 56px;
    max-width: 864px;
  }
  /* line 59, ../sass/screen.sass */
  #info .general-info h1 {
    font-size: 6em;
    color: #D72E2E;
  }
  /* line 62, ../sass/screen.sass */
  #info .general-info h3 {
    font-size: 3.2em;
  }
  /* line 65, ../sass/screen.sass */
  #info .general-info address.tel::before {
    background-position: 0px 16px;
  }
  /* line 67, ../sass/screen.sass */
  #info .general-info address.home::before {
    background-position: 16px 16px;
  }
  /* line 69, ../sass/screen.sass */
  #info .general-info address.email::before {
    background-position: 32px 16px;
  }
  /* line 71, ../sass/screen.sass */
  #info .picture-container {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  /* line 76, ../sass/screen.sass */
  #info .picture-container img {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 0 0 auto;
  }
}
@media (max-width: 700px) {
  /* line 83, ../sass/screen.sass */
  .general-info {
    background: #D72E2E;
    color: #FFF;
    padding: 10px;
  }
  /* line 87, ../sass/screen.sass */
  .general-info h1 {
    font-size: 4.8em;
    line-height: 1;
    padding-left: 10px;
    color: #000;
  }
  /* line 92, ../sass/screen.sass */
  .general-info h3 {
    font-size: 3em;
    color: #3e0000;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  /* line 98, ../sass/screen.sass */
  .general-info address.home::before {
    background-position: 16px 0px;
  }
  /* line 100, ../sass/screen.sass */
  .general-info address.email::before {
    background-position: 32px 0px;
  }

  /* line 102, ../sass/screen.sass */
  .picture-container {
    border-top: 4px solid #D72E2E;
    width: 100%;
    line-height: 0;
  }
  /* line 106, ../sass/screen.sass */
  .picture-container img {
    width: 100%;
    height: auto;
  }
}
