/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.sass */
body {
  font: 62.5% "PT Sans Narrow", sans-serif;
  color: #333;
}

/* line 16, ../sass/screen.sass */
.clear-fix:after {
  content: " ";
  visibility: hidden;
  display: block;
  clear: both;
}

/* line 22, ../sass/screen.sass */
#wrapper {
  min-width: 200px;
}

/* line 26, ../sass/screen.sass */
#info h1 {
  font-weight: bold;
  line-height: 1;
  font-variant: small-caps;
}
/* line 30, ../sass/screen.sass */
#info address {
  font-size: 2em;
  line-height: 1.8em;
  padding-left: 36px;
}
/* line 34, ../sass/screen.sass */
#info address::before {
  content: " ";
  background-image: url(../images/icons.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 10px -3px -26px;
}

/* line 42, ../sass/screen.sass */
.masonry {
  padding: 0.75em;
}
@media (min-width: 481px) {
  /* line 42, ../sass/screen.sass */
  .masonry {
    -moz-columns: 1em 2;
    -webkit-columns: 1em 2;
    columns: 1em 2;
  }
}
@media (min-width: 701px) {
  /* line 42, ../sass/screen.sass */
  .masonry {
    -moz-columns: 1em 3;
    -webkit-columns: 1em 3;
    columns: 1em 3;
  }
}
@media (min-width: 1024px) {
  /* line 42, ../sass/screen.sass */
  .masonry {
    -moz-columns: 1em 4;
    -webkit-columns: 1em 4;
    columns: 1em 4;
  }
}

/* line 51, ../sass/screen.sass */
.item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
/* line 56, ../sass/screen.sass */
.item details summary {
  position: relative;
}
/* line 58, ../sass/screen.sass */
.item details summary::-webkit-details-marker {
  display: none;
}
/* line 60, ../sass/screen.sass */
.item details summary::after {
  content: "+";
  width: 20px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 67, ../sass/screen.sass */
.item details[open] summary::after {
  content: "-";
}

/* line 72, ../sass/screen.sass */
#skills .item h3 {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  background: #EEE;
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  color: #FFF;
}
/* line 79, ../sass/screen.sass */
#skills .item h3 span {
  display: block;
  padding: 0.2em 1em;
  position: relative;
  z-index: 1;
}
/* line 84, ../sass/screen.sass */
#skills .item h3 span::after {
  color: #000;
  font-weight: normal;
  opacity: 0.7;
  margin-left: 0.5em;
}
/* line 89, ../sass/screen.sass */
#skills .item h3::after {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #999;
  z-index: 0;
}
/* line 99, ../sass/screen.sass */
#skills .item ul {
  position: relative;
  height: 100%;
}
/* line 102, ../sass/screen.sass */
#skills .item ul li {
  line-height: 1em;
  position: relative;
  padding: 0.3em 2em;
}
/* line 106, ../sass/screen.sass */
#skills .item ul li::before {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% 100%;
  border-radius: 100% / 100%;
  position: absolute;
  display: block;
  content: " ";
  background: #999;
  left: 0.75em;
  margin: 0.1em;
  width: 0.5em;
  height: 0.5em;
}
/* line 116, ../sass/screen.sass */
#skills .item ul::before {
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  content: " ";
  position: absolute;
  top: 0;
  left: 1em;
  z-index: -1;
  background: #999;
  width: 4px;
  height: 100%;
}
/* line 128, ../sass/screen.sass */
#skills .item.proficiency-100 h3 span::after {
  content: "100%";
}
/* line 130, ../sass/screen.sass */
#skills .item.proficiency-100 h3::after {
  width: 100%;
}
/* line 133, ../sass/screen.sass */
#skills .item.proficiency-90 h3 span::after {
  content: "90%";
}
/* line 135, ../sass/screen.sass */
#skills .item.proficiency-90 h3::after {
  width: 90%;
}
/* line 138, ../sass/screen.sass */
#skills .item.proficiency-80 h3 span::after {
  content: "80%";
}
/* line 140, ../sass/screen.sass */
#skills .item.proficiency-80 h3::after {
  width: 80%;
}
/* line 143, ../sass/screen.sass */
#skills .item.proficiency-70 h3 span::after {
  content: "70%";
}
/* line 145, ../sass/screen.sass */
#skills .item.proficiency-70 h3::after {
  width: 70%;
}
/* line 148, ../sass/screen.sass */
#skills .item.proficiency-60 h3 span::after {
  content: "60%";
}
/* line 150, ../sass/screen.sass */
#skills .item.proficiency-60 h3::after {
  width: 60%;
}
/* line 153, ../sass/screen.sass */
#skills .item.proficiency-50 h3 span::after {
  content: "50%";
}
/* line 155, ../sass/screen.sass */
#skills .item.proficiency-50 h3::after {
  width: 50%;
}
/* line 158, ../sass/screen.sass */
#skills .item.proficiency-40 h3 span::after {
  content: "40%";
}
/* line 160, ../sass/screen.sass */
#skills .item.proficiency-40 h3::after {
  width: 40%;
}
/* line 163, ../sass/screen.sass */
#skills .item.proficiency-30 h3 span::after {
  content: "30%";
}
/* line 165, ../sass/screen.sass */
#skills .item.proficiency-30 h3::after {
  width: 30%;
}
/* line 168, ../sass/screen.sass */
#skills .item.proficiency-20 h3 span::after {
  content: "20%";
}
/* line 170, ../sass/screen.sass */
#skills .item.proficiency-20 h3::after {
  width: 20%;
}
/* line 173, ../sass/screen.sass */
#skills .item.proficiency-10 h3 span::after {
  content: "10%";
}
/* line 175, ../sass/screen.sass */
#skills .item.proficiency-10 h3::after {
  width: 10%;
}
/* line 178, ../sass/screen.sass */
#skills .item.proficiency-0 h3 span::after {
  content: "0%";
}
/* line 180, ../sass/screen.sass */
#skills .item.proficiency-0 h3::after {
  width: 0;
}

/* line 183, ../sass/screen.sass */
section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
}
/* line 187, ../sass/screen.sass */
section h2 {
  padding: 0 20px;
  font-size: 3.6em;
  color: #00A6C9;
  border-bottom: 3px solid #00A6C9;
}
/* line 192, ../sass/screen.sass */
section ul.skills {
  font-size: 2em;
}

@media (min-width: 701px) {
  /* line 196, ../sass/screen.sass */
  #info {
    height: 480px;
    position: relative;
    border-bottom: 5px solid #D72E2E;
  }
  /* line 200, ../sass/screen.sass */
  #info .general-info {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
  }
  /* line 205, ../sass/screen.sass */
  #info .general-info h1, #info .general-info h3, #info .general-info address {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 900px;
  }
  /* line 211, ../sass/screen.sass */
  #info .general-info address {
    padding: 0 20px;
    padding-left: 56px;
    max-width: 864px;
  }
  /* line 215, ../sass/screen.sass */
  #info .general-info h1 {
    font-size: 6em;
    color: #D72E2E;
  }
  /* line 218, ../sass/screen.sass */
  #info .general-info h3 {
    font-size: 3.2em;
  }
  /* line 221, ../sass/screen.sass */
  #info .general-info address.tel::before {
    background-position: 0px 16px;
  }
  /* line 223, ../sass/screen.sass */
  #info .general-info address.home::before {
    background-position: 16px 16px;
  }
  /* line 225, ../sass/screen.sass */
  #info .general-info address.email::before {
    background-position: 32px 16px;
  }
  /* line 227, ../sass/screen.sass */
  #info .picture-container {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  /* line 232, ../sass/screen.sass */
  #info .picture-container img {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 0 0 auto;
  }
}
@media (max-width: 700px) {
  /* line 239, ../sass/screen.sass */
  .general-info {
    background: #D72E2E;
    color: #FFF;
    padding: 10px;
  }
  /* line 243, ../sass/screen.sass */
  .general-info h1 {
    font-size: 4.8em;
    line-height: 1;
    padding-left: 10px;
    color: #000;
  }
  /* line 248, ../sass/screen.sass */
  .general-info h3 {
    font-size: 3em;
    color: #3e0000;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  /* line 254, ../sass/screen.sass */
  .general-info address.home::before {
    background-position: 16px 0px;
  }
  /* line 256, ../sass/screen.sass */
  .general-info address.email::before {
    background-position: 32px 0px;
  }

  /* line 258, ../sass/screen.sass */
  .picture-container {
    border-top: 4px solid #D72E2E;
    width: 100%;
    line-height: 0;
  }
  /* line 262, ../sass/screen.sass */
  .picture-container img {
    width: 100%;
    height: auto;
  }
}
