/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.sass */
body {
  font: 62.5% "PT Sans Narrow", sans-serif;
  color: #333;
}

/* line 18, ../sass/screen.sass */
.clear-fix:after {
  content: " ";
  visibility: hidden;
  display: block;
  clear: both;
}

/* line 24, ../sass/screen.sass */
#wrapper {
  min-width: 200px;
}

/* line 28, ../sass/screen.sass */
#info h1 {
  font-weight: bold;
  line-height: 1;
  font-variant: small-caps;
}
/* line 32, ../sass/screen.sass */
#info address {
  font-size: 2em;
  line-height: 1.8em;
  padding-left: 36px;
}
/* line 36, ../sass/screen.sass */
#info address::before {
  content: " ";
  background-image: url(../images/icons.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 10px -3px -26px;
}

/* line 44, ../sass/screen.sass */
.masonry {
  padding: 0.75em;
}
@media (min-width: 481px) {
  /* line 44, ../sass/screen.sass */
  .masonry {
    -moz-columns: 1em 2;
    -webkit-columns: 1em 2;
    columns: 1em 2;
  }
}
@media (min-width: 701px) {
  /* line 44, ../sass/screen.sass */
  .masonry {
    -moz-columns: 1em 3;
    -webkit-columns: 1em 3;
    columns: 1em 3;
  }
}
@media (min-width: 1024px) {
  /* line 44, ../sass/screen.sass */
  .masonry {
    -moz-columns: 1em 4;
    -webkit-columns: 1em 4;
    columns: 1em 4;
  }
}

/* line 53, ../sass/screen.sass */
.item {
  display: inline-block;
  width: 100%;
}

/* line 58, ../sass/screen.sass */
#skills .item-list {
  margin-bottom: -2em;
}
/* line 60, ../sass/screen.sass */
#skills .item {
  margin: 0 0 1em 0;
}
/* line 62, ../sass/screen.sass */
#skills .item h3 {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  background: #EEE;
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
  color: #FFF;
}
/* line 69, ../sass/screen.sass */
#skills .item h3 span {
  display: block;
  padding: 0.2em 1em;
  position: relative;
  z-index: 1;
}
/* line 74, ../sass/screen.sass */
#skills .item h3 span::after {
  color: #000;
  font-weight: normal;
  opacity: 0.7;
  margin-left: 0.5em;
}
/* line 79, ../sass/screen.sass */
#skills .item h3::after {
  -moz-border-radius: 3px / 3px;
  -webkit-border-radius: 3px 3px;
  border-radius: 3px / 3px;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #999;
  z-index: 0;
}
/* line 89, ../sass/screen.sass */
#skills .item ul {
  position: relative;
  height: 100%;
}
/* line 92, ../sass/screen.sass */
#skills .item ul li {
  line-height: 1em;
  position: relative;
  padding: 0.3em 2em;
}
/* line 96, ../sass/screen.sass */
#skills .item ul li::before {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% 100%;
  border-radius: 100% / 100%;
  position: absolute;
  display: block;
  content: " ";
  background: #999;
  top: 0.55em;
  left: 0.7em;
  margin: 0.1em;
  width: 0.5em;
  height: 0.5em;
}
/* line 107, ../sass/screen.sass */
#skills .item ul::before {
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  content: " ";
  position: absolute;
  top: 0;
  left: 1em;
  z-index: -1;
  background: #999;
  width: 2px;
  height: 100%;
}
/* line 119, ../sass/screen.sass */
#skills .item.proficiency-100 h3 span::after {
  content: "100%";
}
/* line 121, ../sass/screen.sass */
#skills .item.proficiency-100 h3::after {
  width: 100%;
}
/* line 124, ../sass/screen.sass */
#skills .item.proficiency-90 h3 span::after {
  content: "90%";
}
/* line 126, ../sass/screen.sass */
#skills .item.proficiency-90 h3::after {
  width: 90%;
}
/* line 129, ../sass/screen.sass */
#skills .item.proficiency-80 h3 span::after {
  content: "80%";
}
/* line 131, ../sass/screen.sass */
#skills .item.proficiency-80 h3::after {
  width: 80%;
}
/* line 134, ../sass/screen.sass */
#skills .item.proficiency-70 h3 span::after {
  content: "70%";
}
/* line 136, ../sass/screen.sass */
#skills .item.proficiency-70 h3::after {
  width: 70%;
}
/* line 139, ../sass/screen.sass */
#skills .item.proficiency-60 h3 span::after {
  content: "60%";
}
/* line 141, ../sass/screen.sass */
#skills .item.proficiency-60 h3::after {
  width: 60%;
}
/* line 144, ../sass/screen.sass */
#skills .item.proficiency-50 h3 span::after {
  content: "50%";
}
/* line 146, ../sass/screen.sass */
#skills .item.proficiency-50 h3::after {
  width: 50%;
}
/* line 149, ../sass/screen.sass */
#skills .item.proficiency-40 h3 span::after {
  content: "40%";
}
/* line 151, ../sass/screen.sass */
#skills .item.proficiency-40 h3::after {
  width: 40%;
}
/* line 154, ../sass/screen.sass */
#skills .item.proficiency-30 h3 span::after {
  content: "30%";
}
/* line 156, ../sass/screen.sass */
#skills .item.proficiency-30 h3::after {
  width: 30%;
}
/* line 159, ../sass/screen.sass */
#skills .item.proficiency-20 h3 span::after {
  content: "20%";
}
/* line 161, ../sass/screen.sass */
#skills .item.proficiency-20 h3::after {
  width: 20%;
}
/* line 164, ../sass/screen.sass */
#skills .item.proficiency-10 h3 span::after {
  content: "10%";
}
/* line 166, ../sass/screen.sass */
#skills .item.proficiency-10 h3::after {
  width: 10%;
}
/* line 169, ../sass/screen.sass */
#skills .item.proficiency-0 h3 span::after {
  content: "0%";
}
/* line 171, ../sass/screen.sass */
#skills .item.proficiency-0 h3::after {
  width: 0;
}

/* line 175, ../sass/screen.sass */
#education .item-list {
  position: relative;
  margin-top: 2em;
}
/* line 178, ../sass/screen.sass */
#education .item-list::before {
  position: absolute;
  content: " ";
  display: block;
  top: 0;
  left: 0;
  width: 20%;
  height: 1em;
  margin-top: -1em;
  margin-left: 40px;
  border-right: 2px dotted #D72E2E;
}
/* line 189, ../sass/screen.sass */
#education .item-list::after {
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  top: 0;
  left: 20%;
  margin-left: 40px;
  content: " ";
  background: #D72E2E;
  display: block;
  width: 2px;
  height: 100%;
}
/* line 201, ../sass/screen.sass */
#education .item {
  margin: 10px 20px;
  white-space: nowrap;
  position: relative;
}
/* line 205, ../sass/screen.sass */
#education .years {
  position: absolute;
  top: 0;
  right: 80%;
  display: inline-block;
  width: 20%;
  text-transform: uppercase;
  text-align: right;
  color: #888;
  direction: rtl;
}
/* line 215, ../sass/screen.sass */
#education .what {
  position: relative;
  left: 20%;
  display: inline-block;
  margin-left: 40px;
}
/* line 220, ../sass/screen.sass */
#education .what::before {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% 100%;
  border-radius: 100% / 100%;
  position: absolute;
  content: " ";
  top: 0.5em;
  left: -24px;
  width: 10px;
  height: 10px;
  background: #D72E2E;
  display: block;
}

/* line 232, ../sass/screen.sass */
#languages .masonry {
  text-align: center;
}
/* line 234, ../sass/screen.sass */
#languages .item {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% 100%;
  border-radius: 100% / 100%;
  width: 100%;
  height: 200px;
  margin: 0 auto 1em auto;
  position: relative;
  color: #FFF;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 244, ../sass/screen.sass */
#languages .item::before {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% 100%;
  border-radius: 100% / 100%;
  top: 0;
  left: 50%;
  margin-left: -100px;
  content: " ";
  position: absolute;
  z-index: -2;
  width: 200px;
  height: 200px;
  display: block;
  background: #EEE;
}
/* line 256, ../sass/screen.sass */
#languages .item .content {
  position: relative;
  z-index: 1;
  width: 100%;
}
/* line 257, ../sass/screen.sass */
#languages .item .content::before {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% 100%;
  border-radius: 100% / 100%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  content: " ";
  z-index: -1;
  display: block;
  background: #888;
}
/* line 270, ../sass/screen.sass */
#languages .item .content h3 {
  font-size: 1.6em;
}
/* line 272, ../sass/screen.sass */
#languages .item .content p {
  font-size: 0.9em;
  color: #CCC;
  line-height: 1;
}
/* line 276, ../sass/screen.sass */
#languages .item.proficiency-100 .content::before {
  width: 200px;
  height: 200px;
}
/* line 279, ../sass/screen.sass */
#languages .item.proficiency-90 .content::before {
  width: 190px;
  height: 190px;
}
/* line 282, ../sass/screen.sass */
#languages .item.proficiency-80 .content::before {
  width: 180px;
  height: 180px;
}
/* line 285, ../sass/screen.sass */
#languages .item.proficiency-70 .content::before {
  width: 85%;
  height: 85%;
}
/* line 288, ../sass/screen.sass */
#languages .item.proficiency-60 .content::before {
  width: 80%;
  height: 80%;
}
/* line 291, ../sass/screen.sass */
#languages .item.proficiency-50 .content::before {
  width: 75%;
  height: 75%;
}
/* line 294, ../sass/screen.sass */
#languages .item.proficiency-40 .content::before {
  width: 70%;
  height: 70%;
}
/* line 297, ../sass/screen.sass */
#languages .item.proficiency-30 .content::before {
  width: 65%;
  height: 65%;
}
/* line 300, ../sass/screen.sass */
#languages .item.proficiency-20 .content::before {
  width: 60%;
  height: 60%;
}
/* line 303, ../sass/screen.sass */
#languages .item.proficiency-10 .content::before {
  width: 55%;
  height: 55%;
}
/* line 306, ../sass/screen.sass */
#languages .item.proficiency-0 .content::before {
  width: 50%;
  height: 50%;
}
@media (min-width: 1024px) {
  /* line 309, ../sass/screen.sass */
  #languages .masonry {
    -moz-columns: 1em 3;
    -webkit-columns: 1em 3;
    columns: 1em 3;
  }
}

/* line 313, ../sass/screen.sass */
section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 2.2em;
}
/* line 318, ../sass/screen.sass */
section h2 {
  padding: 0 20px;
  font-size: 1.8em;
  color: #00A6C9;
  border-bottom: 3px solid #00A6C9;
  font-variant: small-caps;
}

@media (min-width: 701px) {
  /* line 327, ../sass/screen.sass */
  #info {
    height: 480px;
    position: relative;
    border-bottom: 5px solid #D72E2E;
  }
  /* line 331, ../sass/screen.sass */
  #info .general-info {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
  }
  /* line 336, ../sass/screen.sass */
  #info .general-info h1, #info .general-info h3, #info .general-info address {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 900px;
  }
  /* line 342, ../sass/screen.sass */
  #info .general-info address {
    padding: 0 20px;
    padding-left: 56px;
    max-width: 864px;
  }
  /* line 346, ../sass/screen.sass */
  #info .general-info h1 {
    font-size: 6em;
    color: #D72E2E;
  }
  /* line 349, ../sass/screen.sass */
  #info .general-info h3 {
    font-size: 3.2em;
  }
  /* line 352, ../sass/screen.sass */
  #info .general-info address.tel::before {
    background-position: 0px 16px;
  }
  /* line 354, ../sass/screen.sass */
  #info .general-info address.home::before {
    background-position: 16px 16px;
  }
  /* line 356, ../sass/screen.sass */
  #info .general-info address.email::before {
    background-position: 32px 16px;
  }
  /* line 358, ../sass/screen.sass */
  #info .picture-container {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  /* line 363, ../sass/screen.sass */
  #info .picture-container img {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 0 0 auto;
  }
}
@media (max-width: 700px) {
  /* line 370, ../sass/screen.sass */
  .general-info {
    background: #D72E2E;
    color: #FFF;
    padding: 10px;
  }
  /* line 374, ../sass/screen.sass */
  .general-info h1 {
    font-size: 4.8em;
    line-height: 1;
    padding-left: 10px;
    color: #000;
  }
  /* line 379, ../sass/screen.sass */
  .general-info h3 {
    font-size: 3em;
    color: #3e0000;
    padding-left: 10px;
    margin-bottom: 10px;
  }
  /* line 385, ../sass/screen.sass */
  .general-info address.home::before {
    background-position: 16px 0px;
  }
  /* line 387, ../sass/screen.sass */
  .general-info address.email::before {
    background-position: 32px 0px;
  }

  /* line 389, ../sass/screen.sass */
  .picture-container {
    border-top: 4px solid #D72E2E;
    width: 100%;
    line-height: 0;
  }
  /* line 393, ../sass/screen.sass */
  .picture-container img {
    width: 100%;
    height: auto;
  }
}
