/* line 5, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Lolita Medium";
  src: url("../fonts/Lolita-Medium-webfont.eot");
  src: url("../fonts/Lolita-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lolita-Medium-webfont.woff2") format("woff2"), url("../fonts/Lolita-Medium-webfont.woff") format("woff"), url("../fonts/Lolita-Medium-webfont.ttf") format("truetype"), url("../fonts/Lolita-Medium-webfont.svg#lolita_mediummedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Springsteel Serif";
  src: url("../fonts/SpringsteelSerif-Heavy-webfont.eot");
  src: url("../fonts/SpringsteelSerif-Heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SpringsteelSerif-Heavy-webfont.woff2") format("woff2"), url("../fonts/SpringsteelSerif-Heavy-webfont.woff") format("woff"), url("../fonts/SpringsteelSerif-Heavy-webfont.ttf") format("truetype"), url("../fonts/SpringsteelSerif-Heavy-webfont.svg#springsteel_serifheavy") format("svg");
  font-weight: normal;
  font-style: normal;
}
@page {
  size: 1280px 1800px;
}
/* line 27, ../sass/style.sass */
body {
  font-family: "Lolita Medium", sans-serif;
  color: #1F1F1F;
}

/* line 31, ../sass/style.sass */
h1, h2, h3 {
  font-family: "Springsteel Serif", serif;
}

/* line 34, ../sass/style.sass */
a {
  color: #CD292D;
  border-bottom: 1px dotted #CD292D;
  text-decoration: none;
}

/* line 39, ../sass/style.sass */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 1.1em;
}

/* line 45, ../sass/style.sass */
.column {
  width: 100%;
  float: left;
}

/* line 49, ../sass/style.sass */
.one-half {
  width: 48%;
  margin-left: 4%;
}

/* line 52, ../sass/style.sass */
.one-half:first-child {
  margin-left: 0;
}

/* line 55, ../sass/style.sass */
.one-sixth {
  width: 13.3333%;
  margin-left: 4%;
}

/* line 58, ../sass/style.sass */
.one-sixth:first-child {
  margin-left: 0;
}

/* line 61, ../sass/style.sass */
.row::after {
  content: " ";
  display: table;
  clear: both;
}

/* line 66, ../sass/style.sass */
#info {
  height: 480px;
  position: relative;
  border-bottom: 5px solid #CD292D;
  margin-bottom: 2em;
}
@media print {
  /* line 66, ../sass/style.sass */
  #info {
    height: 360px;
  }
}

/* line 73, ../sass/style.sass */
.picture-container {
  height: 100%;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: right;
  padding: 0 20px;
}
/* line 80, ../sass/style.sass */
.picture-container img {
  width: auto;
  height: 100%;
  margin: 0 30px;
}

/* line 84, ../sass/style.sass */
.general-info {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}
/* line 89, ../sass/style.sass */
.general-info h1, .general-info h3, .general-info address {
  width: 100%;
  margin: 0 auto;
}
/* line 92, ../sass/style.sass */
.general-info h1 {
  font-size: 3.6em;
  font-variant: small-caps;
  color: #CD292D;
  padding: 7px 20px;
  max-width: 860px;
}
/* line 98, ../sass/style.sass */
.general-info h3 {
  font-size: 2em;
  max-width: 820px;
  padding: 7px 40px;
}
/* line 102, ../sass/style.sass */
.general-info address {
  font-size: 1.2em;
  max-width: 820px;
  padding: 7px 40px;
}
/* line 106, ../sass/style.sass */
.general-info address::before {
  content: " ";
  display: inline-block;
  background-image: url(../images/icons.svg);
  width: 16px;
  height: 16px;
  margin: 0 10px;
}
/* line 113, ../sass/style.sass */
.general-info address.home::before {
  background-position: -32px 16px;
}
/* line 115, ../sass/style.sass */
.general-info address.email::before {
  background-position: -16px 16px;
}
/* line 117, ../sass/style.sass */
.general-info address.tel::before {
  background-position: 0px 16px;
}

/* line 120, ../sass/style.sass */
section h2 {
  font-size: 2em;
  padding: 3px 16px;
  margin-bottom: 10px;
  border-bottom: 3px solid #CD292D;
}

/* line 126, ../sass/style.sass */
.item-list {
  padding: 0 16px;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

/* line 132, ../sass/style.sass */
#skills .item {
  margin-bottom: 10px;
}
/* line 134, ../sass/style.sass */
#skills .item .tools {
  padding: 0 10px;
}
/* line 136, ../sass/style.sass */
#skills .item .tools li {
  float: left;
  width: 50%;
}
/* line 139, ../sass/style.sass */
#skills .item .tools:after {
  content: " ";
  clear: both;
  display: table;
}

/* line 145, ../sass/style.sass */
#skills .item, #languages .item {
  line-height: 1.6em;
}
/* line 147, ../sass/style.sass */
#skills h3, #languages h3 {
  color: #CD292D;
}
/* line 149, ../sass/style.sass */
#skills .proficiency, #languages .proficiency {
  font-weight: thin;
  color: #1F1F1F;
}

/* line 154, ../sass/style.sass */
#education .item-list, #experience .item-list {
  margin-top: 2em;
  position: relative;
  height: auto;
  padding: 0;
}
/* line 159, ../sass/style.sass */
#education .item-list::before, #experience .item-list::before {
  content: " ";
  display: block;
  width: 20%;
  height: 1em;
  padding-right: 14px;
  border-right: 2px dotted #CD292D;
  margin-top: -1em;
}
/* line 167, ../sass/style.sass */
#education .item-list::after, #experience .item-list::after {
  content: " ";
  display: block;
  position: absolute;
  top: 1em;
  left: 0;
  width: 20%;
  height: 100%;
  padding-right: 14px;
  border-right: 2px solid #CD292D;
}
/* line 177, ../sass/style.sass */
#education .item, #experience .item {
  position: relative;
  margin: 14px 0;
  line-height: 1.3em;
}
/* line 181, ../sass/style.sass */
#education .years, #experience .years {
  text-transform: uppercase;
  color: #CD292D;
  position: absolute;
  right: 80%;
}
/* line 186, ../sass/style.sass */
#education .what, #experience .what {
  padding-left: 30px;
  display: block;
  margin-left: 20%;
}
/* line 190, ../sass/style.sass */
#education .years::after, #experience .years::after {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% 100%;
  border-radius: 100% / 100%;
  content: " ";
  display: inline-block;
  background: #CD292D;
  width: 10px;
  height: 10px;
  margin: 0 -20px 0 10px;
}

/* line 200, ../sass/style.sass */
#interests .item {
  text-align: center;
}
/* line 202, ../sass/style.sass */
#interests .item::before {
  -moz-border-radius: 100% / 100%;
  -webkit-border-radius: 100% 100%;
  border-radius: 100% / 100%;
  content: " ";
  display: block;
  margin: 0.5em auto;
  width: 72px;
  height: 72px;
  background-color: #1F1F1F;
  background-image: url(../images/icons.svg);
}
/* line 211, ../sass/style.sass */
#interests .item.music::before {
  background-position: 0px 0;
}
/* line 213, ../sass/style.sass */
#interests .item.doodling::before {
  background-position: -72px 0;
}
/* line 215, ../sass/style.sass */
#interests .item.video-games::before {
  background-position: -144px 0;
}
/* line 217, ../sass/style.sass */
#interests .item.reading::before {
  background-position: -216px 0;
}
/* line 219, ../sass/style.sass */
#interests .item.puzzles::before {
  background-position: -288px 0;
}
/* line 221, ../sass/style.sass */
#interests .item.science::before {
  background-position: -360px 0;
}
