@font-face {
  font-family: "Lolita Medium";
  src: url("../fonts/Lolita-Medium-webfont.eot");
  src: url("../fonts/Lolita-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lolita-Medium-webfont.woff2") format("woff2"), url("../fonts/Lolita-Medium-webfont.woff") format("woff"), url("../fonts/Lolita-Medium-webfont.ttf") format("truetype"), url("../fonts/Lolita-Medium-webfont.svg#lolita_mediummedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Springsteel Serif";
  src: url("../fonts/SpringsteelSerif-Heavy-webfont.eot");
  src: url("../fonts/SpringsteelSerif-Heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SpringsteelSerif-Heavy-webfont.woff2") format("woff2"), url("../fonts/SpringsteelSerif-Heavy-webfont.woff") format("woff"), url("../fonts/SpringsteelSerif-Heavy-webfont.ttf") format("truetype"), url("../fonts/SpringsteelSerif-Heavy-webfont.svg#springsteel_serifheavy") format("svg");
  font-weight: normal;
  font-style: normal;
}
@page {
  size: 1440px 1864px;
}
/* line 28, ../sass/style.sass */
body {
  font-family: "Lolita Medium", sans-serif;
  color: #1F1F24;
}

/* line 32, ../sass/style.sass */
h1, h2, h3 {
  font-family: "Springsteel Serif", serif;
}

/* line 35, ../sass/style.sass */
#info {
  height: 480px;
  position: relative;
  border-bottom: 5px solid #CD292D;
}
@media print {
  /* line 35, ../sass/style.sass */
  #info {
    height: 360px;
  }
}

/* line 42, ../sass/style.sass */
.picture-container {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: right;
}
/* line 48, ../sass/style.sass */
.picture-container img {
  width: auto;
  height: 100%;
  margin: 0 30px;
}

/* line 52, ../sass/style.sass */
.general-info {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}
/* line 57, ../sass/style.sass */
.general-info h1, .general-info h3, .general-info address {
  width: 100%;
  margin: 0 auto;
}
/* line 60, ../sass/style.sass */
.general-info h1 {
  font-size: 3.6em;
  font-variant: small-caps;
  color: #CD292D;
  padding: 7px 20px;
  max-width: 860px;
}
/* line 66, ../sass/style.sass */
.general-info h3 {
  font-size: 2em;
  max-width: 820px;
  padding: 7px 40px;
}
/* line 70, ../sass/style.sass */
.general-info address {
  font-size: 1.2em;
  max-width: 820px;
  padding: 7px 40px;
}
/* line 74, ../sass/style.sass */
.general-info address::before {
  content: " ";
  display: inline-block;
  background-image: url(../images/icons.svg);
  width: 16px;
  height: 16px;
  margin: 0 10px;
}
/* line 81, ../sass/style.sass */
.general-info address.home::before {
  background-position: 16px 16px;
}
/* line 83, ../sass/style.sass */
.general-info address.email::before {
  background-position: 32px 16px;
}
/* line 85, ../sass/style.sass */
.general-info address.tel::before {
  background-position: 0 16px;
}
